html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Work Sans", Arial, sans-serif;
  color: #211d1c;
  position: relative;
}

* {
  box-sizing: border-box;
}

p {
  line-height: 150%;
}

u {
  position: relative;
  display: inline-block;
  z-index: 5;
  text-decoration: none;
  text-transform: capitalize;
}
u::after {
  content: "";
  position: absolute;
  height: 0.35em;
  left: -0.1875em;
  right: -0.1875em;
  bottom: 0.075em;
  background-color: rgba(47, 196, 161, 0.4);
  z-index: -1;
}

li u:after {
  bottom: 0.2em;
}

h1, h2 {
  font-family: "Comfortaa";
  margin: 0;
}

p {
  margin-bottom: 0;
}

a {
  color: #2FC4A1;
  text-decoration: none;
}
a:hover, a:focus-visible {
  text-decoration: underline;
  outline: none;
}

::selection {
  background: #2FC4A1;
  color: white;
}

.button, .button2, button {
  text-transform: uppercase;
  border: none;
  padding: 0.75rem 1.5rem;
  background: #2FC4A1;
  border-radius: 2rem;
  color: white;
  font-weight: bold;
  transition: background-color 0.2s, box-shadow 0.2s;
  letter-spacing: 1px;
  font-size: inherit;
  text-decoration: none;
}
.button:hover, .button2:hover, button:hover {
  text-decoration: none;
  background-color: #51d5b6;
  cursor: pointer;
  text-decoration: none;
}
.button:focus-visible, .button2:focus-visible, button:focus-visible {
  text-decoration: none;
  text-decoration: none;
  outline: none;
  box-shadow: 0 0 0 3px white, 0 0 0 6px #2FC4A1;
}

.center {
  max-width: 1080px;
  margin: 0 auto;
}

.center-wide {
  max-width: 85%;
  margin: 0 auto;
}

header {
  padding: 1.5rem 0;
}
header .center-wide {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  padding: 2.5rem 0;
  margin-top: 8rem;
  background: #211d1c;
  color: white;
}

main > section {
  margin: 4rem 0;
  font-size: 1.6rem;
}
main > section h2 {
  font-size: 2.5rem;
}
main > section .mini {
  display: block;
  font-size: 1.6rem;
  color: #665a57;
  margin-top: 0.25rem;
}
main > section .text {
  width: 55%;
}
main > section ul {
  line-height: 150%;
}
main > section .center.flex {
  display: flex;
  align-items: center;
}
main > section .center.flex.reverse {
  flex-direction: row-reverse;
}
main > section .center.flex img {
  width: 45%;
  margin-right: 3rem;
  pointer-events: none;
  user-select: none;
}

section.title {
  margin-top: 4rem;
}
section.title h1 {
  font-size: 4rem;
}

section.projects article {
  margin-bottom: 4rem;
  --theme-color: #2FC4A1;
}
section.projects article img {
  width: 70%;
  border-radius: 1.5rem;
  box-shadow: 0 0 0 3px var(--theme-color);
  padding: 6px;
  margin-top: 1rem;
}
section.projects article h3 {
  font-size: 2rem;
  margin-bottom: 0;
}
section.projects article .button2 {
  background: var(--theme-color);
}
section.projects article .button2:hover {
  background-color: var(--theme-color);
}
section.projects article .button2:focus-visible {
  box-shadow: 0 0 0 3px white, 0 0 0 6px var(--theme-color);
}
section.projects article.sun {
  --theme-color: #FFE46E;
}
section.projects article.sun .button2 {
  color: #211d1c;
}
section.projects article.ace {
  --theme-color: #78A22E;
}
section.projects article.mona {
  --theme-color: #c9985c;
}

button, .button2 {
  font-size: 1rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  display: inline-block;
}
button:disabled, .button2:disabled {
  opacity: 0.5;
  background: #2FC4A1 !important;
  box-shadow: none !important;
  cursor: default !important;
}

#contact form {
  font-size: 1.2rem;
}
#contact form input, #contact form textarea {
  display: block;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 2px solid #a69996;
  font-size: inherit;
  resize: none;
  transition: box-shadow 0.2s;
  font-family: inherit;
  max-width: 100%;
}
#contact form input:focus, #contact form input:focus-visible, #contact form textarea:focus, #contact form textarea:focus-visible {
  outline: none;
  border-color: #211d1c;
  box-shadow: 0 0 0 3px white, 0 0 0 6px #2FC4A1;
}
#contact form textarea {
  padding: 1rem;
}
#contact form label {
  display: block;
  margin: 0.5rem 0;
  margin-top: 1rem;
  user-select: none;
}
#contact form .message {
  display: block;
  color: #211d1c;
  font-size: 1.5rem;
  margin-top: 1rem;
}

section .center > *, section .text > *, section .text li {
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.hide {
  opacity: 0;
  transform: translateY(1.5rem);
}

@media only screen and (max-width: 1000px) {
  main > section {
    font-size: 1.2rem;
  }
  main > section .center {
    max-width: 90%;
  }
  main > section .center.flex {
    display: block;
  }
  main > section .center.flex > *, main > section .center.flex img {
    width: 100%;
  }
  main > section .center.flex img {
    max-height: 300px;
  }
  main > section h2 {
    font-size: 2rem;
  }
  section.title h1 {
    font-size: 3rem;
  }
  section.title {
    margin-top: 0;
  }
  footer {
    margin-top: 0;
  }
  section.projects article img {
    width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  header nav .button {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
